h2{
    color: var(--black);
}

.input-login{
    padding: 10px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-login{
    height: 95px;
}

.logo-login:hover{
    cursor: pointer;
}

.login-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 8px 4px 11px -1px rgba(0,0,0,0.75);
    width: 90%;
}

.login-container input{
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 2px;
}

/* Icons color */
.fa-envelope {
    color: var(--black);
}

.fa-lock {
    color: var(--black);
}

.fa-user {
    color: var(--black);
}
/* // */

.form-body{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-container{
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.form-input{
    width: 200px;
    height: 40px;
}

.span{
    color: #2619d6;
    font-size: .8rem;
    margin: 10px;
}
.span:hover{
    cursor: pointer;
}

.btn{
    width: 100%;
    height: 50px;
    background-color: #ff6f2c;
    border-radius: 1px;
    color: #ffffff;
}

.btn:hover{
    cursor: pointer;
    background-color: #b14c1d;
}

.login-p{
    font-size: 1rem;
    text-align: center;
    margin: 5px 20px 20px;
    padding: 0;
    font-weight: 700;
}

.btn-2{
    width: 100%;
    height: 50px;
    background-color: #929292;
    border-radius: 1px;
    color: #ffffff;
}
.btn-2:hover{
    cursor: pointer;
    background-color: #272727;
}

textarea::placeholder, input::placeholder{
    color: #2727275e;
}

.textarea-input{
    resize: none;
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 2px;
    width: 200px;
    height: 100px;
}

@media (min-width: 500px){
    .login-container{
        width: 70%;
    }
    .form-input, .textarea-input{
        width: 250px;
    }
}
@media (min-width: 768px){
    .login-container{
        width: 50%;
    }
    .form-input, .textarea-input{
        width: 320px;
    }
}

.form-group-login{
    margin: 15px;
    display: flex;
    gap: 5px;
    font-weight: 700;
    align-items: baseline;
}

.form-login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Contact */
.input-contact{
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.main-form{
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 500px){
    .form-container{
        width: 90%;
    }
}

.form-group{
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;
}

.form-textarea{
    resize: none;
    padding: 10px;
    border: 1px solid #e0e0e0;
}