input{
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.container-1 {
    margin-top: 1px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--primary);
    background: linear-gradient(90deg, var(--primary) 43%, var(--secondary) 100%);
}
@media (min-width: 500px){
    .container-1{
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
}

.bg-2{
    background: var(--primary);
    background: linear-gradient(90deg, var(--secondary) 43%, var(--primary) 100%);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
@media (min-width: 500px){
    .box{
        width: 450px;
    }
}

.container-bt__search{
    padding-bottom: 5px;
}

.container-bt__search input#search{
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    opacity: .7;
}

.container-bt__search input#search:focus{
    outline: 2px solid var(--grey);
}

.post-form{
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 500px){
    form{
        width: 90%;
    }
}

.form-group{
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;
}

.form-textarea{
    resize: none;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.check-post-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-check{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form-check span{
    color: var(--grey);
    font-size: .8rem;
}

.post-button {
    width: 97%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 1px;
    border: none;
    background: var(--primary);
    color: #eee;
    height: 50px;
}

.post-button:hover{
    cursor: pointer;
    background: var(--secondary);
    transition: background .3s;
}



/* Post section */

#container-2 {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
}

.posts-container{
    width: 100%;
}

.post-container {
    margin-top: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 1px;
    background: #f1f1f173;
    border: none;
    border-radius: 3px;
}

.highlighted-offer {
    background: #2b5fbd47;
}

.post-body h3 {
    font-size: 1.5em;
    text-align: justify;
    padding: 10px 0;
}

.post-body p {
    font-size: 1em;
    text-align: justify;
    padding: 0 0 10px;
}

.post-body span {
    font-size: .7em;
}

.post-body {
    margin: 20px;
}

/* Post section end */
