input{
    padding: 10px;
}

.container-1 {
    background: var(--primary);
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    height: 60px;
}

.search-container{
    margin-top: 15px;
    position: relative;
    background: #333;
    border: none;
    font-size: 10pt;
    float: left;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.search-container input#search{
    background: #333;
    color:#fff;
    border: none;
}

.search-container .icon{
    top: 50%;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
    color: #fff;
}

.search-container input#search:hover, .search-container input#search:focus, .search-container input#search:active{
    outline: none;
    background: #333;
}

.post-button {
    border: none;
    background: var(--secondary);
    color: #eee;
    padding: 10px;
}

.post-button:hover{
    cursor: pointer;
    background: var(--secondary-visible);
    transition: background .3s;
}



/* Post section */

#container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-block: 2rem;
    align-items: center;
}

.post-container {
    margin-top: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 45px 0;
    width: clamp(26rem, calc(20rem + 2vw), 22rem);
    border-radius: 2em;
    box-shadow: 1rem 2rem 1rem #eee;
    background: #ffffff;
    /* background: linear-gradient(90deg, #ffffff 0%, #eee 54%, #ffffff 100%); */
}

.post :hover{
    cursor: pointer;
    border-radius: 1em;
    /* box-shadow: 0 .1rem 1rem #eee; */
    /* background: linear-gradient(90deg, #ffffff 0%, #eee 54%, #ffffff 100%); */
}

.highlighted-offer {
    background: linear-gradient(
        var(--primary),
        var(--secondary-visible)
    );
    color: #f1f1f1;
}

.highlighted-offer p {
    color: #f1f1f1;
}

.post-body h3 {
    font-size: 1.5em;
    text-align: justify;
}

.post-body p {
    font-size: 1em;
    text-align: justify;
    padding: 0;
}

.post-body span {
    font-size: .7em;
}

.post-body {
    margin: 20px;
}

/* Post section end */
