input{
    padding: 10px;
}

.container-1 {
    margin-top: 1px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--primary);
    background: linear-gradient(90deg, var(--primary) 43%, var(--secondary) 100%);
}
@media (min-width: 500px){
    .container-1{
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
}

.bg-2{
    background: var(--primary);
    background: linear-gradient(90deg, var(--secondary) 43%, var(--primary) 100%);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media (min-width: 500px){
    .box{
        width: 450px;
    }
}

.post-form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group{
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: c;
}

.post-button {
    padding: 10px;
    font-size: 12px;
    border-radius: 50px;
    border: none;
    background: var(--primary);
    color: #eee;
    height: 50px;
}

.post-button:hover{
    cursor: pointer;
    background: var(--secondary);
    transition: background .3s;
}



/* Post section */

#container-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.posts-container{
    width: 100%;
}

.post-container {
    margin-top: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #b6bad9;
    border: 1px solid var(--grey);
}

.post :hover{
    cursor: pointer;
    border-radius: 1em;
}

.highlighted-offer {
    background: #8a91d4;
}

.post-body h3 {
    font-size: 1.5em;
    text-align: justify;
    padding: 10px 0;
}

.post-body p {
    font-size: 1em;
    text-align: justify;
    padding: 0 0 10px;
}

.post-body span {
    font-size: .7em;
}

.post-body {
    margin: 20px;
}

/* Post section end */
