*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #483D8B;
    --login-button-color: #e6060642;
    --secondary: #733598;
    --white: #fcfffd;
    --white-2: #eee;
    --black: #1a1a1a;
    --black-2: #1e0d20;
    --grey: #8A8D98;
}

body{
    display: block;
    background-color: #ffffff;
}

h1{
    display: block;
    letter-spacing: .3rem;
    font-size: 7rem;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 0;
}

h3 {
    min-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-size: 1.5em;
    text-align: center;
}

h4 {
    font-size: .7em;
}

hr {
    background-image: linear-gradient(
        to right,transparent,
        var(--secondary),
        transparent
    );
    border: 0;
    height: 0.1rem;
    max-width: 100%;
}

a{
    display: inline-block;
    margin: 10px 20px;
    font-size: .9rem;
    color: var(--white);
    text-decoration: none;
}

ul li {
    display: inline-block;
}

ol {
    margin: 0;
    padding: 0;
}

li{
    text-align: justify;
    line-height: 1.6;
    color: var(--black);
    font-size: 20px;
}

p{
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: justify;
    color: var(--black);
    padding: 40px;
}

/*Section Nav*/
nav{
    position: relative;
    width: 100%;
    background: var(--primary);
    background: linear-gradient(90deg, var(--primary) 43%, var(--secondary) 100%);
    box-shadow: 0 0 5px var(--black);
    z-index: 999;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a:hover {
    color: var(--grey);
    transition: color .3s ease,color .3s ease;
    text-decoration: underline;
}

.login {
    border: none;
    background: transparent;
    color: #f1f1f1;
    padding: 5px;
    height: 50px;
    font-size: .9em;
}

.login:hover{
    cursor: pointer;
    color: var(--grey);
    transition: color .3s ease,color .3s ease;
    text-decoration: underline;
}

.logo {
    display: block;
    max-width: 40%;
    max-height: 15em;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.logo-2 {
    display: none;
    max-width: 40%;
    max-height: 15em;
}

.background-img{
    display: none;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    opacity: .2;
    top: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    object-fit: contain;
}

header{
    display: block;
    background: var(--white);
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: var(--white);
}

header .hidden {
    max-height: 0;
}

header .show {
    max-height: 190px;
}

h3 {
    font-size: 20px;
}

li {
    font-size: 15px;
}

.container-bt {
    display: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, var(--primary) 43%, var(--secondary) 100%);
}

.logo-mobile__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background: var(--primary);
    background: linear-gradient(90deg, var(--primary) 43%, var(--secondary) 100%);
    box-shadow: 0 0 5px var(--black);
}

.logo-mobile {
    display: block;
    width: 200px;
    margin: 0 auto;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo-mobile__search{
    padding-bottom: 20px;
}

.logo-mobile__search input#search{
    padding: 5px;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    max-width: 200px;
    height: 35px;
    opacity: .7;
}

.logo-mobile__search input#search:focus{
    outline: 2px solid var(--grey);
}

.menu-desktop{
    display: none;
}

.container-bt__offers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-offers{
    width: 100%;
    color: var(--white);
    padding: 5px;
    cursor: pointer;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.04);
}

.btn-offers:hover{
    background-color: rgba(12, 11, 11, 0.158);
}

.service{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.37);
}

.menu-mobile {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    background: var(--primary);
    transition: max-height .4s ease;
}

.menu-mobile ul {
    width: 100%;
    padding: 0;
}

.menu-mobile a:hover {
    cursor: pointer;
}

.menu-mobile ul li {
    display: flex;
}

.menu-mobile li{
    text-align: justify;
    line-height: 1.6;
    color: var(--black);
    font-size: 15px;
}

.menu-mobile li:hover{
    background-color: #00000098;
}

.menu-mobile a {
    width: 100%;
    font-size: .9rem;
}
/**/

/*Section 1*/
#section-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--primary) 43%, var(--secondary) 100%);
}

#section-one h1, h2, p, i{
    color: #fcfffd;
}

#section-one hr{
    background-image: linear-gradient(
        to right,transparent,
        var(--grey),
        transparent
    );
}

.welcome {
    width: 100%;
}

.welcome h1 {
    margin-top: 15px;
    font-size: 2em;
    text-align: center;
}

.welcome p {
    margin: 15px 5px;
    padding: 0;
    font-size: 1rem;
}

.section-one__info{
    margin: 45px 10px 10px;
}

.section-one__list{
    padding: 20px 10px 10px;
    font-size: 1rem;
}

.section-one__info span{
    font-weight: 700;
}

.icon-text__container{
    display: flex;
    align-items: center;
}

.search-icon{
    border-radius: 10px;
    margin-top: 10px;
}

/*Section 2*/
#section-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 10px;
    gap: 1rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 400px;
    border-radius: 1em;
}

.card-info__body ol {
    margin: 20px;
}

.card-info__body li{
    font-size: .8rem;
    list-style: disc;
}

.card-info__body button{
    margin-left: 50%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 12px;
    border-radius: 50px;
    border: none;
    background: var(--primary);
    transform: translateX(-50%);
}

.card-info__body button:hover{
    cursor: pointer;
    background: var(--secondary);
    transition: background .3s;
}


/*Section 3*/
#section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f0ff6b;
}

.card-post__container {
    margin: 0 10px;
}
@media (min-width: 992px){
    .card-post__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 55px;
    }
}

.card-post {
    display: flex;
    flex-direction: column;
    margin: 45px 0;
    max-width: 340px;
    max-height: 210px;
    border-radius: .5em;
    box-shadow: 1rem 2rem 1rem var(--white-2);
    background: #ffffff;
    cursor: pointer;
}

.card-post:hover{
    background-color: var(--grey);
    color: var(--white);
}

.card-post:hover p{
    color: var(--white);
}

.card-post__body {
    margin: 20px;
    position: relative;
}

.card-post span {
    font-size: .7em;
}

.card-post h3 {
    font-size: 1.4em;
    text-align: justify;
    padding-top: 0;
}

.card-post p {
    font-size: .9em;
    text-align: justify;
    padding: 8px 0;
}

.highlighted-post {
    background: linear-gradient(
        var(--primary),
        var(--secondary)
    );
    color: var(--white);
}

.highlighted-post p {
    color: var(--white);
}

.highlighted-post:hover{
    background: linear-gradient(
        var(--black),
        var(--black-2)
    );
}
/**/

/*Section 4*/
#section-four {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background: #f6f0ff6b; */
    background: var(--primary);
}

.about-us h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fcfffd;
}

.about-us p {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
    color: #fcfffd;
}

.logo-3 {
    display: block;
    margin: auto;
    max-width: 30%;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}

.social-networks h2 {
    font-size: 1.3rem;
    color: #fcfffd;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: var(--white);
    margin: auto;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.fa-brands, .fab {
    font-size: 3em;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: #1a1a1a;
}

.bt {
    display: block;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: 250px;
}
/**/

/*Section Footer*/
footer {
    padding: 30px;
    font-size: .7rem;
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
}

footer p {
    font-size: .7rem;
    padding: 0 0 5px;
    color: var(--white);
    text-align: center;
}

strong {
    font-size: .7rem;
}
/**/



/*Responsive adjustments*/
@media (min-width: 768px) {
   header{
       background: linear-gradient(
           var(--white),
           var(--black)
       );
   }

   footer{
       padding: 50px;
   }

   footer p{
       font-size: 1rem;
   }

   .menu-desktop{
       display: flex;
       align-items: center;
    }

   .background-img{
       display: block;
   }

   .logo-mobile__container{
       display: none;
   }

   .menu-mobile {
       display: none;
   }

   .login{
       padding: 10px;
   }

   .container-bt{
       display: flex;
       padding: 0;
       align-items: center;
       justify-content: center;
   }

   .logo-2 {
       display: block;
       animation: fadeInAnimation ease 3s;
       animation-iteration-count: 1;
       animation-fill-mode: forwards;
   }

   /*Section 1*/
   .welcome h1 {
       font-size: 5em;
   }

   .welcome p {
       font-size: 1.2em;
       margin: 30px;
   }
   /**/

   /*Section 2*/
   .card-info {
     width: clamp(26rem, calc(20rem + 2vw), 22rem);
   }

   .card-info__body li {
       font-size: 1.1rem;
   }

   .card-info__body button{
       padding: 15px 25px;
   }
   /**/


   /*section 3*/
   .card-post {
       width: clamp(26rem, calc(20rem + 2vw), 22rem);
   }
   /**/

   /*Section 4*/
   #section-four {
      flex-direction: row;
      justify-content: center;
      gap: 80px;
   }

   .about-us p {
       font-size: 1.2rem;
       padding-bottom: 0;
       max-width: 40rem;
   }

   .logos-networks {
       margin: auto;
       padding-top: 50px;
       max-width: 4em;
   }

   .logo-fb {
       margin: auto;
       max-width: 5em;
       padding-top: 50px;
   }
   /**/
}
/**/

/* Responsive adjustments */
@media(min-width: 500px) {
    .welcome h1 {
        text-align: center;
        font-size: 3em;
    }

    .section-one__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-one__list p{
        margin: 0 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1em;
    }

    #section-two {
        flex-wrap: nowrap;
    }

    .card {
        margin: 15px;
    }

    .card-post {
        max-width: 400px;
        max-height: 250px;
    }

    .card-post h3 {
        font-size: 2em;
        padding: 10px 0;
    }

    .card-post p {
        font-size: 1em;
        padding: 2px 1px 5px;
    }

    .card-post span {
        font-size: .8em;
    }
}