*{
    margin: 0%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #483D8B;
    --secondary: #e6060642;
    --secondary-visible: #733598;
}


body{
    display: block;
    background-color: #fff;
}

header{
    display: block;
    background: linear-gradient(
        #f1f1f1,
        #333
    );
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #f1f1f1;
}

h1{
    display: block;
    letter-spacing: .3rem;
    font-size: 7rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h3 {
    min-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

hr {
    background-image: linear-gradient(
        to right,transparent,
        var(--secondary-visible),
        transparent
    );
    border: 0;
    height: 0.1rem;
    max-width: 100%;
    margin-top: 60px;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin: 20px;
    letter-spacing: 3px;
}


nav{
    position: fixed;
    width: 100%;
    background: var(--primary);
    box-shadow: 0 0 15px 5px #333;
    z-index: 999;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a:hover {
    color: #8A8D98;
    transition: color .3s ease,color .3s ease
}

ul li{
    display: inline-block;
}

ol {
    margin: 30px 50px;
    padding: 0;
}

li{
    font-weight: 500;
    text-align: justify;
    line-height: 1.6;
    color: #333;
    font-size: 20px;
    list-style: inside;
}

p{
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: justify;
    color: #333;
    padding: 40px;
}

footer{
    padding: 50px;
    margin-bottom: 0px;
    margin-top: 150px;
    background-color: rgb(5, 5, 92);
    text-align: center;
    color: #fff;
}

footer p{
    font-size: 1rem;
    color: #fff;
    text-align: center;   
}


.background-img{
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    opacity: .2;
    top: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    object-fit: contain;
}

.logo {
    visibility: hidden;
    height: 64px;
    width: 80px;
}

.logo-mobile-container{
    display: none;
}

.menu-mobile {
    display: none;
}

.login{
    border: none;
    background: var(--secondary);
    color: #f1f1f1;
    padding: 10px;
    height: 64px;
}

.login:hover{
    cursor: pointer;
    background: var(--secondary-visible);
    transition: background .3s;
}

.container-bt{
    margin-top: 50px;
    padding: 0;
}

.logo-2 {
    display: block;
    margin: auto;
    max-width: 40%;
    max-height: 18em;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.welcome {
    width: 100%;
}

.welcome h1 {
    text-align: center;
    font-size: 5em;
}

.welcome p {
    font-size: 1.2em;
    padding: 0;
    margin: 50px;
}

.img{
    display: block;
    margin: auto;
    max-width: 400px;
}

.welcome-2 {
    text-align: center;
}

.welcome-2 h3 {
    padding: 0;
    margin-top: 80px;
    text-align: center;
}

.welcome-2 ol {
    margin-top: 60px;
}

#container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-block: 2rem;
    gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(26rem, calc(20rem + 2vw), 22rem);
  border-radius: 1em;
  box-shadow: 0 .1rem 1rem #eee;
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, #eee 54%, #ffffff 100%);
}

.card-body ol {
  margin: 20px;
}

.card-body li {
    font-size: 1.1rem;
}

.card-body button{
    border-radius: 50px;
    border: none;
    background: var(--secondary-visible);
    color: #eee;
    padding: 15px 25px;
    margin-left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
}

.card-body button:hover{
    cursor: pointer;
    background: var(--primary);
    transition: background .3s;
}

#container-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-block: 2rem;
    align-items: center;
}

.card-container {
    margin-top: 30px;
}

.card-pv {
    display: flex;
    flex-direction: column;
    margin: 45px 0;
    width: clamp(26rem, calc(20rem + 2vw), 22rem);
    border-radius: 1em;
    box-shadow: 0 .1rem 1rem #eee;
    background: #ffffff;
    background: linear-gradient(90deg, #ffffff 0%, #eee 54%, #ffffff 100%);
}

.card-pv :hover{
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0 .1rem 1rem #eee;
    background: linear-gradient(90deg, #ffffff 0%, #eee 54%, #ffffff 100%);
}

.card-pv p {
    font-size: 1.3em;
    text-align: center;
}


#container-4 {
    display: flex;
    flex-direction: row;
    margin: 50px 80px 50px;
    padding-right: 50px;
}

.about-us p{
    font-size: 1.2rem;
    padding-bottom: 0;
    max-width: 50em;
}

.logo-3 {
    display: block;
    margin: auto;
    max-width: 30%;   
}

.social-networks h2 {
    max-width: 50em;
}

.logos-networks {
    display: block;
    margin: auto;
    padding-top: 50px;
    max-width: 4em;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.logos-networks:hover {
    opacity: 1;
}

.logo-fb {
    display: block;
    margin: auto;
    max-width: 5em;
    padding-top: 50px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.logo-fb:hover {
    opacity: 1;
}

.bt {
    display: block;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: 250px;
 }

/* Ajustes responsive */
/* @media(max-width: 935px) {

    #container {
        display: block;
        margin: 100px 0 0 0;
    }

    #container-4{
        display: block;
        margin: 50px 10px 0;
        padding: 0;
    }

    .social-networks {
        display: inline;
    }
} */


/* Ajustes responsive */
@media(max-width: 675px) {
    
    .logo{
        display: none;
    }

    .logo-2 {
        display: none;
    }

    .background-img{
        display: none;
    }

    header{
        background: #f1f1f1;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 20px;
    }

    li {
        font-size: 15px;
    }

    .container-bt {
        display: none;
        margin: 0;
        padding: 0;
    }

    .logo-mobile-container{
        display: block;
        background: var(--primary);
    }

    .logo-mobile {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

    .menu-desktop{
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
        background: none;
    }

    #container {
        margin-top: 50px;
    }

    #container-4 {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}

/* Ajustes responsive */
@media(max-width: 470px) {
    .welcome h1 {
        font-size: 3em;
    }

    .img {
        max-width: 15em;
    }

    h3 {
        font-size: 1em;
    }
}